alias lev6="ssh levante6"

alias vim="nvim"
alias vi="nvim"
alias lev6="ssh levante6"

# git aliases
alias gs="git status"
alias ga="git add"
alias gl="git log"

alias meld="~/sw/meld/bin/meld"

alias c="clear"

alias enbl_spack="source /Users/k202170/sw/spack-sw/spack/share/spack/setup-env.sh; source /Users/k202170/sw/spack-sw/spack/share/spack/spack-completion.bash"

alias lg="lazygit"
